
  <div class="list-group">
      <a class="list-group-item bibliosecu" href="{{ path('libro_inicio') }}">Libro</a>
      <a class="list-group-item bibliosecu" href="{{ path('autor_inicio') }}">Autor</a>
      <a class="list-group-item bibliosecu" href="{{ path('categoria_inicio') }}">Categoria</a>
      <a class="list-group-item bibliosecu" href="{{ path('idioma_inicio') }}">Idioma</a>
  </div>
